/* HTML RESECT */


/*fonts externas*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');


:root{
    --containers-color:rgba(10, 10, 10, 0.8);
    --fonts-color:white;
    --form-focus-color:white;
    --articles-bg-color:#2b1549f4;
    --bars-bg-color: #170d2af4; /* footer header button bg color*/
    --button-hover:#7a6c95;
    --black: black;
    --card-bg-color:     #f4a2e731;    ; /* card color bg */
    --bg-color-fill:#571a4d;   
    --card-font-color:#feffec;
    --figure-bg-color:#1b0d2df4;
}


html {
    font-size:62.5%;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--fonts-color);
}

ol, ul {
    list-style: none; 
    
}

/* ===== Scrollbar CSS ===== */

/* Firefox */
* {
    scrollbar-width: none;
    scrollbar-color: var(--black) var(--black);
}

  /* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {
    background: black;
}

*::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
    border: 1px groove white;
}


body{
    background-image: url(../img/rosarioMain.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 165px auto;
    grid-template-rows: auto auto auto;
    column-gap: 0rem;
    border-radius: 2rem;
}
/* Body Grid Layouts */
.grid{
    display:grid;
}

header{
    grid-row: 1 / 2 ;
    grid-column: 1 / 3;
}


.menuContainer{
    grid-row:1 / 4;
    grid-column: 1 / 2;
}

.menuContainer img{
    position: sticky;
    top:0;
}
.menu{
    position: sticky;
    top:99.5px;
}
.menu li{
    
    width: 165px;
}

main{
    display: flex;
    flex-flow:column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    row-gap: 2rem;
    grid-row: 2 / 3 ;
    grid-column: 2 / 3 ;
}

footer{
    grid-row: 3/4;
    grid-column: 1/ 3 ;
}


ol, ul {
    list-style: none;     
}

h1{ font-size: 3.5rem;
    text-align: center;
    display: inline-block;
}

h2{font-size: 3rem;
    text-align: center;
    padding: 2rem 0 2rem 0;
}

h3{
    font-size: 2.5rem;
    text-align: center;
    display: block;
}
/*clases de color de fondo globales*/


.articleBg{
    background-color:var(--articles-bg-color);
}

.barsBg{
    background-color: var(--bars-bg-color);
}

.cardBg{
    background-color:var(--card-bg-color);
    color: var(--card-font-color);
}

/* article cardscontainer global */


article{
    font-size: 2rem;
    line-height: 3rem;
    display:flex ;
    flex-flow: column wrap;
    align-items: stretch;
    align-content: center;
    row-gap: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    width: 95%;
}





/* CSS GLOBALS CARDS & POSITION global*/
.flexR {
    display: flex;
    flex-direction: row;

}

.card {
    padding: 2rem;
    border-radius: 1.5rem;
    column-gap: 4rem;
    row-gap: 2rem;
    width: 100%;
    max-width: 1440px;
}

.contentEvenly{
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.contentCenter{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 6rem;
}



/* HEADER - FOOTER SECTION global */
.headerSection,.footerSection{
    height: max-content;
    border-radius: 0 0 1rem 0rem;
    padding: 1.5rem 0 1.5rem 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}



.headerTitle{
    margin:0 auto;
    text-transform: uppercase;
    font-size: 3.5rem;
}

.footerSection ul li{
    display: inline-block;
    padding: 0 1.5rem 0 1rem;
    font-size: 1.5rem;

}



/* images sizes positionings global*/
.logo{
    height: 10em;
    padding: 1rem;
    vertical-align: middle;
}


.iconImg{
    height:25px;
    width: 25px;
}

.footerSection img{
    vertical-align: middle;
}

/* CSS NAV menu global */

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 2rem;
}


.menu li a{
    display: inline-block;
    color:var(--fonts-color);
    text-decoration: none;
    margin-right: 1rem;
    padding: 1rem;
    font-size: 2rem;
    width: 100%;
    
}

.menu li a:hover{
    background-color: var(--button-hover);
}

header ul li {
display: block;
}





/* CSS index.html _ servicios.html*/


.galleryGap{
    row-gap: 2rem;
    column-gap: 2rem;
}
.figBenefits{
    width: 350px;
    display: inline-block;
    padding: 1rem;
    background-color: var(--figure-bg-color);
    border-radius: 2rem;
    text-align: center;
}
.figBenefits img{
    width: 100%;
    border-radius: 2rem;
    } 

.figBenefits span{
    font-weight: 700;
    display: block;
    
}

/* animation en galeria* servicios.html - index.html*/

@keyframes smalling{
    0%{transform: scale(.9)}
    50%{transform:translateY(.7)}
    100%{transform:translateY(.9)}
}

.figBenefits:hover{
    animation-name: smalling;
    animation-duration: 1s;
}

/* CSS servicios.html */
.imgProceso{
    width: 300px;
    vertical-align: middle;
    border-radius: 2rem;
}

.servicesText{
    display: inline-block;
    max-width: 420px;
    font-weight: 700;
}
.mediosPago{
    width: 50%;
    padding: 5rem;
    border-radius: 20px;
}

.addressList{
    text-align: center;
}

.mapaContainer{
    text-align: center;
    width: 350px; 
    height: 350px;
    margin-bottom: 1rem;
    
}
.mapaContainer iframe{
    align-self: center;
    border-radius: 2rem;
}
/* CSS equipo.html */

.photo{
    width: 200px ;
    height: 200px;
    border-radius: 200px;
    
}


/* CSS contacto.html */
    
.flexForm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 2rem;
    column-gap: 4rem;
    padding: 2rem;
    max-width: 820px;
    
}

.formBlock{ 
    min-width: 14rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 2rem;
    
}
/* CSS radio positioning*/

.labelRadio,label{
    display: inline-block;
    width: 14rem;
    padding-right: 2rem;
    vertical-align:top;
    font-weight: 700;
    font-style: italic;
}


.radioLabelSub{
    width: 6rem;
    font-weight:500 ;
    font-style:normal;
}

.teamPresentation{
    min-width: 180px;
    max-width: 700px;
    text-align: left;
    
}
.teamPresentation h4 {
    text-align: center;
    font-style: italic;
}

.teamPresentation li{
    padding-bottom: 2rem;
}

form input,button{
    background: none;
    font-size: 1.5rem;
    vertical-align: middle;
    border: none;
    border-bottom: 2px solid var(--card-bg-color);
    outline: none;
}

form select {
    font-size: 1.5rem;
    background: local;
    background-color: var(--bg-color-fill);
}

form select option{
    background-color:  var(--bg-color-fill);
}

form textarea{
    background: none;
    vertical-align: middle;
    outline: none;
    border: 2px solid var(--card-bg-color)
}

form input:focus{
    border-bottom: 2px solid var(--form-focus-color);
    
}




form .button{
    margin-top: 1rem;
    padding:1rem;
    border-radius: 0.5rem;
    margin-left: 3rem;
    border: none;
}

form .button:hover{
    background-color: var(--button-hover);
    transition: 0.2s;
}



.buttonBlock{
    text-align: left;
}



@media only screen and (max-width: 1024px){
    /* global */
    body {  
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        row-gap: 0rem;
    }
    

    .menuContainer{
        height: max-content;
        display: flex;
        flex-direction: row-reverse;
        align-items: stretch;
        position: sticky;
        justify-content: space-evenly;        
        top:0px;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .headerSection{
        padding-bottom: 0rem;
        border-radius: 0rem;
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .headerTitle{
        font-size: 2rem;
        border-radius: 0rem;
        padding: 0;
    }
    .menu{
        column-gap: 0rem;
        row-gap: 0rem;
        align-items: center;

    }

    .menu li {
        width: max-content;
    }

    .menu li a{
        font-size:1.5rem ;
        padding: 0.75;
        margin-right: 0.75;
    }
    .logo{
        width: 8rem;
    }
    main{
        grid-row: 3/4;
        grid-column: 1 / 2 ;

    }
    .footerSection{
        grid-row: 4/5;
        grid-column: 1/2;
    }

    article{
        padding: 1.5rem ;
        row-gap: 1.5rem;
        padding: 1.5rem;
        border-radius: .5rem;
        text-align: center;
        margin: 0 auto;
    }

}       

@media only screen and (max-width: 451px){
    /*globals */
    article{
        row-gap: 0.5rem;
        border-radius: 0.5rem;
        
    }


    /* CSS index.html*/
    .figBenefits{
        width: 250px;
    }    
    .galleryGap{
        row-gap: 0.5rem;
        column-gap: 0.5rem;
    }
    /*CSS servicios.html*/
    .mapaContainer{
        width: 250px; 
        height: 250px;
    }    
    .figBenefits,.mapaContainer,.imgProceso{
        width: 100%;
    }
    
}

@media only screen and (max-width: 373px){
 /*padding 0 */
    article{
        padding: 0rem ;
        width: 98%;
}

    .card {
        padding: 1rem 0 1rem 0;
        row-gap: 1rem;
    }

    .flexForm{
        padding: 2rem 1rem 2rem 1rem;
    }
}

@media only screen and (max-width: 320px){
.radio{
    display: flex;
    flex-direction: row;
}

.flexForm{
    padding: 2rem 0.5rem 2rem 0.5rem;
}

.mapaContainer{
    width: 100wv; 
    height: 100wv;
}    

}
